@import "tailwindcss";

@layer base {
  body {
    @apply text-white bg-black;
  }
  h1,
  h2,
  h3 {
    @apply uppercase font-oswald;
  }
  h1 {
    @apply text-6xl sm:text-7xl;
  }
  h2 {
    @apply text-4xl sm:text-5xl;
  }
  .container-left {
    @apply pl-4 w-full max-w-none;
  }

  @media (min-width: 40rem) {
    .container-left {
      padding-left: 4.5rem;
    }
  }
  @media (min-width: 48rem) {
    .container-left {
      padding-left: 5rem;
    }
  }
  @media (min-width: 64rem) {
    .container-left {
      padding-left: 6rem;
    }
  }
  @media (min-width: 80rem) {
    .container-left {
      padding-left: 7rem;
    }
  }
  @media (min-width: 96rem) {
    .container-left {
      padding-left: 8rem;
    }
  }

  .image-scrollbar::-webkit-scrollbar {
    height: 6px;
  }

  .image-scrollbar::-webkit-scrollbar-track {
    background: #808285;
  }

  .image-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c3996c;
  }

  .image-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280; /* gray-500 */
  }

  .container {
    @apply mx-auto;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .appear {
    animation: fadeIn 0.8s ease-in forwards;
  }
}

@theme {
  --color-secondary: #c3996c;
  --color-muted: #808285;
  --font-oswald: var(--font-oswald);
}
