@import "tailwindcss";

@layer base {
  body {
    @apply text-white bg-black;
  }
  h1,
  h2,
  h3 {
    @apply uppercase font-oswald;
  }
  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-5xl;
  }
}

@theme {
  --color-secondary: #c3996c;
  --font-oswald: var(--font-oswald);
}
